<ng-container *ngIf="{color: colorFlow$ | async, white: whiteFLow$ | async}"></ng-container>
<button class="red" (click)="service.turnRedFlow()">Red sphere</button>
<button class="blue" (click)="service.turnBlueFlow()">Blue sphere</button>
<button class="green" (click)="service.turnGreenFlow()">Green sphere</button>
<div class="log-result-block">
    <div class="sphere-log">Log
        <ng-container *ngFor="let l of logging$ | async">
            <p>{{ l }}</p>
        </ng-container>
    </div>
    <div class="result">
        <div class="block" *ngFor="let r of result$ |async">
            <app-numeric-sphere [sphereData]="r.sphere"></app-numeric-sphere>
            <p> = {{ r.summary }}</p>
        </div>
    </div>
</div>
<div class="sphere-container">Container
    <ng-container *ngFor="let s of mainFlow$ | async">
        <app-numeric-sphere [sphereData]="s"></app-numeric-sphere>
    </ng-container>
</div>
<button (click)="service.clearAndStop()">Clear and stop</button>
<div class="rules">
    <p>на странице есть три кнопки:</p>
    <p>Вызывают красный синий и зелёный шар со случайным номером от 1го до 10ти соответственно
        также есть контейнер где отображаются выпавшие шары
        и кнопка которая читит этот контейнер</p>

    <p>допусловия:</p>
    <ul>
        <li>1) массив выпавших шаров (если будет) использовать только для отображения контейнера</li>
        <li>2) если выпало три одноцветных шара, то выпадает белый</li>
        <li>3) если выпало три разноцветных шара, то выпадает шар с цветом последнего и наибольшим числом из тех трёх
        </li>
        <li>4) если выпал синий и его значение больше последнего выпадавшего красного, то выпадает фиолетовый</li>
        <li>5) сделать чтобы по кнопкам не выпадал шар, а запускался таймер с автовыпадением, красных-раз в 3 секунды,
            синих-раз в секунду с 50% вероятности, зелёных по две штуки с вероятностью 25% раз в секунду.</li>
    </ul>
</div>